<!DOCTYPE html>
<html>
<head>
<title>比鸡</title>
<style>
    html,body{
	width: 100%;
	height: 100%;
		}
    body{
       background: url(image/bgg.jpg) bottom center no-repeat #efeff4 ;
       background-size: 100% 100%;
       width: 100%;
       height: 100%;background:color:rgba(0,0,0,0.2);
       }
    .header {background:#1919b9; color:;padding: 2px;padding-bottom: 80px;}
    .header ul{list-style:none;} 
    .header li{float:left; list-style:none;width:100px;margin-left:3px;background: #191;}
    .content {position: absolute;bottom: auto;width: 100%;margin-top: 60px;margin-left: 30px;}
    .otherplayer{display:inline-block;}
    .ownerplayer{display:inline-block;}
    .eosplayer{
        display: inline-block;
        font-size: 29px;
        padding-left: 121px;
        color: blue;
     }
    .eosme{
    display: inline-block;
    font-size: 29px;
    padding-left: 340px;
    color: red;
    }
    .vsgame{ display:inline-block;font-size: 50px;padding: 20px;color: greenyellow;}
    table,td
    {
        border:1px solid black;
    }
    td{height:120px;width:90px;}
    .kpbutton {
    display: inline-block;
    padding: .3em .5em;
    background-image: linear-gradient(#d0dc13, #1010e0);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:white;
    font-weight: bold;
     }
    .kpbutton:active{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: #bbb;
    }
    
    

</style>
</head>
<body>
 <div id="app">
    <div class="header">
      <ul>
      <li>
      <router-link to="/game">
       游戏区
      </router-link>
      </li>
      <li>
      <router-link to="/rule">
       规则
      </router-link>
      </li>
      <li>
      <router-link to="/me">
      我的游戏
      </router-link>
      </li>
      <li>
      <router-link to="/trade">
       挖矿交易区
      </router-link>
      </li>
      </ul>
        <div style="float:right;margin-right:100px;">
        <button v-on:click="login" style="background: #191;">Scatter登录</button>
        </div>
    </div>
   <div class="content">
       <router-view></router-view>
   </div>
   
 </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>


    Vue.component('card', {
        props: ['cardnum'],
        template: `<div> 
                   <img :src='"image/" + cardnum  + ".png"' style="height: 120px;width: 90px;"></img> 
        </div>`
   });

    Vue.component('vsgame', {
        props: ['count'],
        template: `<div style="display:inline-block;margin:10px;"> 
                       <ul style="background:#13136f;width: 150px;height: 200px;list-style-type:none;">
                       <li>
                       <p>eos账户名: {{ count.name }}</p>
                       </li>
                       <li>
                       <p style="font-size:20px;color:yellowgreen;">已准备</p>
                       </li>
                       <li>
                       <p>最小押注: {{count.basecoin}} EOS</p> 
                       </li>
                       <li>
                       <div style="background:#15dc15;margin-right:110px;">
                          <router-link :to="{name: 'gate', params: {id : count.id}}">
                               挑战她
                           </router-link>
                       </div>
                       </li>
                       </ul>
                   </div>`
       
    });

    const gameComponent = {
        data: function () {
            return {
          counts: [{id:1,name:"abcd",basecoin:2},{id:2,name:"liucheng",basecoin:2},{id:3,name:"liucheng",basecoin:4},{id:4,name:"liucheng",basecoin:2},{id:5,name:"liucheng",basecoin:6}]
         }
        },
        template:`<div>
                  <vsgame 
                     v-for="count in counts"
                     v-bind:key="count.id"
                     v-bind:count="count"
                    ></vsgame>
              </div>`
    };
    const VsComponent = {
        template:`<div>
                 <div style="margin-left: 800px;border: 1px solid black;margin-top: 20px;width: 300px;">
                       <span>余额:</span>
                       <div style="display: inline-block;margin-left: 50px;"> 
                              <li style="list-style:none;"></li>
                              <span>EOS</span>
                       </div>
                       <div style="display: inline-block;margin-left: 50px;"> 
                              <li style="list-style:none;"></li>
                              <span>FUCK</span>
                       </div>
                 </div>
                 <div class="eosplayer">对方</div>
                 <div class="eosme">己方</div>
                 <div>
                 <div class="otherplayer">
                      <table>
                      <tr>
                          <td>
                              <card cardnum="52"></card>
                          </td>
                          <td><card cardnum="52"></card></td>
                          <td><card cardnum="52"></card></td>
                      </tr>
                      <tr>
                          <td><card cardnum="52"></card></td>
                          <td><card cardnum="52"></card></td>
                          <td><card cardnum="52"></card></td>
                      </tr>
                      <tr>
                          <td><card cardnum="52"></card></td>
                          <td><card cardnum="52"></card></td>
                          <td><card cardnum="52"></card></td>
                      </tr>
                      </table>
                 </div>
                 <div style="display: inline-block;">
                 <div class="vsstate">胜利</div>
                 <div class="vsstate">胜利</div>
                 <div class="vsstate">胜利</div>
                 </div>
                 <div class="ownerplayer">
                      <table>
                      <tr>
                          <td><card cardnum="19"></card></td>
                          <td><card cardnum="29"></card></td>
                          <td><card cardnum="32"></card></td>
                      </tr>
                      <tr>
                          <td><card cardnum="22"></card></td>
                          <td><card cardnum="12"></card></td>
                          <td><card cardnum="2"></card></td>
                      </tr>
                      <tr>
                          <td><card cardnum="42"></card></td>
                          <td><card cardnum="32"></card></td>
                          <td><card cardnum="50"></card></td>
                      </tr>
                      </table>
                 </div>
                 <div style="display: inline-block;">
                      <div style=" padding-left: 19px;">
                             <p>我的牌:</p>
                      </div>
                       <div class="kpbutton" style="margin-left: 340px;">PK</div>
                 </div>
                 </div>
                 <div class="vsgame">VS</div>
              </div>`
    };

    const ruleComponent = {
        template:`<div>
                <h1>规则说明</h1>
                <p>用户挑战别的已发好牌的玩家,也可以自己先发牌等别人来挑战,下面分这2种说明下规则</p>
                <h5>1. 挑战已发好牌的玩家流程</h5>
                <p>玩家在游戏区直接点挑战她,支付相对应的eos币，进入挑战页面,智能合约自动为你发牌,玩家配好牌点PK，合约根据双方的配牌大小进行eos结算</p>
                <h5>2. 先发牌等别人来挑战流程</h5> 
                <p>玩家点击先发牌，会弹出一个窗口,输入自定义最小押注，玩家可以自定义押注,后面来挑战的也需要支付相应的eos,最后系统会为您随机发牌，发好牌后配牌，配牌完成提交到eos主网</p>
                 <h2>配牌规则</h2>
                 <p>系统一共为您发9张牌,分成3组:第一组,第二组,第三组,每组3张牌,配牌时第一组不能大于第二组大,第二组不能大于第三组配好后，和您的对手比大小，第一组和第一组比较，第二组和第二组比较，第三组也一样</p>
                 <h2>违规说明</h2>
                 <p>已发牌的玩家，发现自己的牌不好，不配牌一律视为输，如果你先发牌的等别人来挑战的,支付的eos归系统作为后面活动的奖励，如果你是挑战别人，直接判定输给对手</p>
                  <h2>平台代币介绍</h2>
                  <p>平台会发行代币fuck，总量2亿用于玩家奖励,每次pk系统会奖励给胜利者一些fuck,fuck币价值，可以兑换为eos，具体兑换采用fuck算法,下面会介绍下fuck算法</p>

                  <h2>fuck算法介绍</h2>
                  <p></p>


              </div>`
    };

    const megameComponent = {
        template:`<div>
                我的游戏区
              </div>`
    };

    const tradeComponent = {
        template:`<div>
                交易fuck代币
              </div>`
    };
   
    const router = new VueRouter({
    //配置routes
    routes:[
        {
            path:"/game",
            component:gameComponent
        },
        {
            path:"/gate/:id",
            name:"gate",
            component:VsComponent
        },
        {
            path:"/rule",
            component:ruleComponent
        },
        {
            path:"/me",
            component:megameComponent
        },
        {
            path:"/trade",
            component:tradeComponent
        },
    ]
    });

    const app = new Vue({
    el:"#app",
    router,
    methods: {
    login: function (event) {
      if (event) {
        alert(event.target.tagName)
        }
      }
    }
 });

</script>
</html>
